<form name="myForm">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-6">
            <h2>Sign Up</h2>
            <input type="email" name="myEmail" class="form-control" ng-model="signUpInfo.username" placeholder="Choose UserName" required minlength="10" maxlength="35">
              <div ng-messages="myForm.myEmail.$error" ng-if="myForm.myEmail.$touched">
                    <div ng-message="required">Please enter a value for this field.</div>
                    <div ng-message="email">This field must be a valid email address.</div>
                    <div ng-message="maxlength">This field can be at most 15 characters long.</div>
                    <div ng-message="maxlength">This field can be at most 15 characters long.</div>
              </div>
            <input type="email" class="form-control" ng-model="signUpInfo.reusername" placeholder="Re-Enter UserName">
            <input type="password" class="form-control" ng-model="signUpInfo.password" placeholder="Choose Password">
            <button type="submit" ng-click="signUserUp()">Sign-Up</button>            
        </div>
        
        <div class="col-sm-6">
            <h2>Log In</h2>
            <input type="text" class="form-control" ng-model="loginInfo.username" placeholder="Choose UserName">
            <input type="text" class="form-control" ng-model="loginInfo.password" placeholder="Password">
            <button ng-click="loginUser()">Sign-Up</button>
        </div>
    </div>
</form>
